/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-background: #EDEDED;
    --color-text: #7C7C7C;
    --color-background-of-card: #FFFFFF;
    --color-primary: #000000;
}